html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #dedcee;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 64px 1fr 1fr 1fr 48px;
  font-family: 'Vollkorn';
  margin: 0 auto;
}

.Nav {
  background-color: #6a60a9;
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Name {
  margin-left: 25px;
}

.Name > a {
  color: white;
  font-family: 'Lato';
  font-size: 2rem;
  line-height: 2rem;
  text-decoration: none;
}

.Name > a:hover {
  color: #dedcee;
}

.Count {
  font-family: 'Lato';
  color: white;
  font-size: 2rem;
  line-height: 2rem;
}

.Chapters {
  text-align: center;
  margin-right: 25px;
}

.Chapters-text {
  font-family: 'Lato';
  font-weight: bold;
}

.Entries {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CenterText {
  text-align: center;
  font-size: 4rem;
  color: #6a60a9;
}

.BeforeCenter {
  color: #6a60a9;
  font-size: 2rem;
}

.Timeline {
  align-self: center;
  grid-column: 3 / 4;
  grid-row: 2 / 5;
  padding-top: 10px;
  color: #6a60a9;
}

.tree-view_item {
  font-size: 1.2rem;
  text-align: center;
}

.tree-view_children {
  margin-bottom: 15px;
}

.StoryEntryPager {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 4;
}

.StoryEntryPager > button,
.Chapters > button {
  border: 2px solid #fbd14b;
  background-color: #fbd14b;
  height: 44px;
  flex-grow: 1;
  margin: 10px;
}

.StoryEntryPager > button:hover,
.Chapters > button:hover,
.StoryEntryPager > button:focus,
.Chapters > button:focus,
.StoryEntryPager > button:active,
.Chapters > button:active {
  color: #fbd14b;
  border: 2px solid #fbd14b;
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

footer {
  height: 24px;
  grid-column: 1 / 4;
  grid-row: 5;
  margin: auto;
  text-align: center;
  font-family: 'Lato';
  color: #6a60a9;
}
