html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  background-color: #dedcee; }

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 64px 1fr 1fr 1fr 48px;
  margin: 0 auto; }

.Nav {
  color: #dedcee;
  background-color: #1a1733;
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  font: 2rem "Faune", sans-serif;
  justify-content: space-between;
  align-items: center;
  text-align: center; }

.Nav .Name {
  margin-left: 25px;
  padding-bottom: 10px; }

.Nav .Count {
  padding-bottom: 5px; }

.Nav .Chapters {
  margin-right: 25px; }

.Nav section a {
  line-height: 1rem;
  color: #dedcee;
  text-decoration: none; }

.Nav section a:hover {
  color: #ada9d5; }

.Entries {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.CenterText {
  color: #1a1733;
  font: 3rem "Faune", sans-serif;
  text-align: center; }

.Timeline {
  align-self: center;
  grid-column: 3 / 4;
  grid-row: 2 / 5;
  padding-top: 10px; }

.StoryEntryPager {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 4; }

.Button {
  color: #1a1733;
  font: 1.125rem "Faune", sans-serif;
  border: 3px solid #fff2b0;
  background-color: #fff2b0;
  border-radius: 0px;
  height: 44px;
  flex-grow: 1;
  margin: 8px; }

.Button:hover,
.Button:focus,
.Button:active {
  color: #1a1733;
  border: 3px solid #fbd14b;
  background-color: #fbd14b; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

footer {
  color: #1a1733;
  font: 16px "Faune", sans-serif;
  height: 24px;
  grid-column: 1 / 4;
  grid-row: 5;
  margin: auto;
  text-align: center; }
