html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #dedcee;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 48px;
  font-family: 'Vollkorn';
  margin: 0 auto;
}

.Entries {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CenterText {
  text-align: center;
  font-size: 4rem;
  color: #6a60a9;
}

.BeforeCenter {
  color: #6a60a9;
  font-size: 2rem;
}

.StoryId {
  color: #6a60a9;
  font-size: 3rem;
}

.Timeline {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding-top: 10px;
  color: #6a60a9;
}

.tree-view_item {
  font-size: 1.2rem;
  text-align: center;
}

.tree-view_children {
  margin-bottom: 15px;
}

footer {
  height: 24px;
  grid-column: 1 / 3;
  grid-row: 3;
  margin: auto;
  text-align: center;
  font-family: 'Lato';
  color: #6a60a9;
}
